<?xml version="1.0"?>

<robot name="mrobot" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:include filename="$(find ASLAM_gazebo_world)/urdf/mobile_chassis.urdf.xacro" />
	<!-- <xacro:include filename="$(find ASLAM_gazebo_world)/urdf/novisual_robot_body.urdf.xacro" /> -->

	<!-- Body of mrobot, with plates, standoffs -->
	<mrobot_body/>

</robot>
